{#
/**
 * @file
 * bubblecard
 *
 * Available variables for bubblecard:
 *    - bubblecard.variable_name [variable_type]: Description of the variable. Example below.
 *    - bubblecard.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% set bubblecard_classes = [
  'bubblecard',
  theme ? 'theme-' ~ theme
] | sort | join(' ') | trim %}

<div class="{{ bubblecard_classes }}" style="background-image: url('{{image}}')">
  <div class="bubblecard-content">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <a class="github" target="_blank" href= "{{github_link}}">Github</a>
    <a class="link" target="_blank" href="{{demo_link}}">Website</a>
  </div>
</div>
